{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'example:logout' %}">Log out</a>
  <br/>
  <ul>
    {% for user in users %}
      <li data-username="{{ user.username|escape }}">
        {{ user.username|escape }}: {{ user.status|default:'offline' }}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/users/');


    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}
